.received,
.sent {
  display: flex;

  &:not(:first-child) {
    margin-top: 10px;
  }
  
  .message {
    max-width: 80%;

    .dateStamp {
      font-size: 12px;
    }
  
    .text {
      padding: 10px;
      border-radius: 10px;
      margin-top: 5px;
      font-size: 14px;
      position: relative;
  
      &:before {
        content: '';
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }
}

.received {
  justify-content: flex-start;
  
  .message {
    .senderName {
      text-align: left;
      padding-left: 5px;
    }
  
    .text {
      $color: rgba(#f50057, 0.35);
      background-color: $color;
  
      &:before {
        border-bottom: $color 5px solid;
        left: 10px;
      }
    }
  }
}

.sent {
  justify-content: flex-end;
  
  .message {
    .senderName {
      text-align: right;
      padding-right: 5px;
    }
  
    .text {
      $color: rgba(#1976d2, 0.35);
      background-color: $color;
  
      &:before {
        border-bottom: $color 5px solid;
        right: 10px;
      }
    }
  }
}