.messagesContainer {
  max-height: 400px;
  overflow: auto;

  &.rightPadding {
    padding-right: 20px;
  }
}

.form {
  width: 100%;
  margin-top: 20px;
  display: flex;

  .textarea {
    flex-grow: 1;
    resize: vertical;
    margin-right: 20px;
    border-radius: 4px;
  }

  .button {
    width: 100px;
  }
}

.loadingSpinner {
  display: block !important;
  margin: 20px auto 0;
}