.stepperWrapper {
  width: 100vw;
  max-width: 550px;
  padding: 20px 0;
}

.propertyCard {
  display: flex;
}

.propertyImgContainer {
  text-align: center;
}

.propertyTotalPrice {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.35rem;
}

.propertyImg {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.formControl {
  width: 100%;
  max-width: 300px;
}

.formControl:not(:first-child) {
  margin-top: 10px !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
  width: 100%;
}

.button {
  width: 100%;
  margin-top: 20px !important;
}

.linearProgress {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}

.btnContainer {
  display: flex;
  margin-top: 20px;
}

.btnContainer button:not(:last-child) {
  margin-right: 20px;
}

.confirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmationContainer img {
  width: 80px;
}

.confirmationText {
  margin-top: 15px !important;
  text-align: center;
}

.confirmationText a {
  text-decoration: underline;
}

.confirmationButton {
  margin-top: 20px !important;
}