.textArea {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 10px;
  box-sizing: border-box;
  height: 150px;
}

.textArea:focus {
  background-color: #fff;
  border-color: #2684FF;
  border-width: 2px;
  outline: none;
}