.form {
  margin-top: 20px !important;
}

.fieldSet {
  padding: 40px;
  border-radius: 2px;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  position: relative;
  margin-top: 10px;

  &:not(:last-of-type):before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 50px;
    top: 20px;
    height: 100%;
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
  }
}

.fieldSetWrap {
  flex-wrap: wrap;
}

.fieldSetCounter {
  display: inline-block;
  margin-right: 10px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.fieldSetContent {
  display: flex;
  padding-left: 35px;
  margin-top: 20px;
}

.propertyData {
  width: 100%;
  display: flex;
}

.formControl {

  &:not(:first-child) {
    margin-top: 10px;
  }

  .errorLabel {
    display: none !important;
    color: red !important;
    margin-top: 5px;
  }

  &.hasError {
    .field {
      border: 1px solid red;
      background-color: rgba(red, .05);
    }
    .select > * {
      border: 1px solid red;
      background-color: rgba(red, .05);
    }

    .errorLabel {
      display: block !important;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:nth-child(2n) {
    margin-left: 10px;
  }

  &:nth-child(2n+1) {
    margin-right: 10px;
  }
}

.submitButton {
  display: block !important;
  margin: 20px auto 0 !important;
}

.uploadButton {
  width: 150px;
  height: 100px;
  color: #2196f3 !important;
  font-size: 25px !important;
  border: 1px dashed #2196f3 !important;
}

.uploadButton input[type="file"] {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.imagesContainer {
  flex-wrap: wrap;
}

.imagesContainer > * {
  margin: 10px !important;
}