.link {
  text-decoration: underline;
}

.propertyCard {
  display: flex;
  margin: 20px 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
}

.propertyLink:hover {
  color: #000 !important;
  text-decoration: underline;
}

.propertyImg {
  width: 25%;
  flex-shrink: 0;
}

.propertyImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.propertyDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.propertyCtrls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.propertyCtrlButton {
  width: 100%;
}

.propertyCtrlButton:not(:first-child) {
  margin-top: 8px;
}

.propertyStatus {
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  padding: 2px 8px;
  font-size: 12px;
  vertical-align: middle;
}

.propertyStatusActive {
  background-color: green;
}

.propertyStatusInactive {
  background-color: grey;
}

.propertyStatusModeration {
  background-color: blue;
}

.propertyFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -5px;
}

.propertyFeature {
  margin: 5px !important;
}

.publishDate {
  display: flex !important;
  align-items: center;
}

.propertyIconizedFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: -10px;
}

.propertyIconizedFeature {
  display: flex;
  margin: 5px !important;
}

.publishDate {
  margin-left: 5px !important;
}



.propertyImgPlaceholder {
  height: 100%;
  width: 100%;
  background-color: #eee;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.propertyFeaturePlaceholder {
  width: 250px;
  height: 22px;
  margin: 5px;
  border-radius: 4px;
}

@keyframes placeholderAnimation{
  0%{
      background-position: -100% 0
  }
  100%{
      background-position: 100% 0
  }
}

*[class*="Placeholder"] {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderAnimation;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.loadingSpinner {
  display: block !important;
  margin: 20px auto 0;
}

.booking {
  flex-direction: column;
  
  .messangerWrapper {
    margin-top: 50px;
  }
}

.newPropertyBookings {
  margin-top: 20px !important;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  position: relative;

  .newBookingsLabel {
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 4px;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 24px;
  }
}