a {
  text-decoration: none;
}

.userInfo {
  flex-direction: column;
}

.nested {
  padding-left: 35px !important;
}

.activeListItem {
  display: block;
  background-color: rgba(0, 0, 0, .08);
}

.counterLabel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: -1px;
  padding: 2px 4px;
  box-sizing: border-box;
}