.imageContainer {
  position: relative;
  width: 150px;
  height: 100px;

  &.checked {
    outline: 2px solid #2196f3;
  }
  
  &.editable:hover {
    outline: 2px solid #2196f3;

    .deleteButton,
    .checkButton {
      display: initial !important;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .progressBar {
    position: absolute !important;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .checkButton,
  .deleteButton {
    display: none !important;
    position: absolute !important;
    width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
  }

  .deleteButton {
    right: 0;
    top: 0;
    transform: translate(50%, -50%)
  }

  .checkButton {
    right: 30px;
    top: 0;
    transform: translate(50%, -50%)
  }

  .buttonIcon {
    position: relative;
    top: 2px;
    font-size: 20px;
  }
}
