:global {
  @import "react-image-gallery/styles/scss/image-gallery.scss";
}

.propertyBlock {
  font-family: "Ionicons";
  padding: 40px;
  border-radius: 2px;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  position: relative;
  margin-top: 20px;

  &:not(:last-of-type):before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 50px;
    top: 20px;
    height: 100%;
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
  }

  .propertyBlockCounter {
    display: inline-block;
    margin-right: 10px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
  }
  
  .propertyBlockContent {
    display: flex;
    padding-left: 35px;
    margin-top: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;

    &.propertyFeatures {
      flex-wrap: wrap;

      .defaultCursor {
        cursor: default !important;
      }
    }

    &.propertyImageGallery {
      display: block;
    }

    .propertyData,
    .propertyImage {
      display: flex;
      box-sizing: border-box;
    }

    .imageGallery {
      position: relative;
      flex-basis: 60%;
      flex-shrink: 4;
    }

    .propertyData {
      flex-basis: 40%;
      flex-shrink: 6;
      flex-wrap: wrap;
      padding-left: 20px;
      
      .propertyDataProp {
        width: 50%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(6) {
          background-color: rgba(0, 0, 0, .03);
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5) {
          background-color: rgba(0, 0, 0, .01);
        }
      }

      .propertyIconizedProp {
        display: flex;
        margin: 5px !important;
      }
    }
  }
}