.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;

  &.aside .hiddenFilters {
    
    &.expanded {
      min-height: 755px;
    }

    .fieldset {
      flex-direction: column;
    }
  }

  .fieldset {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;

    .field,
    > div {
      flex: 1 1 100%;
      margin: 10px 10px 0;
    }
  }

  .featureList {
    max-height: 150px;
    overflow-y: auto;
    border: 10px solid #fafafa;
    background-color: #fafafa;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;

    > * {
      display: flex;
      height: 30px;
    }
  }

  .errorSelect > * {
    border: 1px solid red;
    background-color: rgba(red, .05);
  }

  .errorLabel {
    color: red;
    margin-top: 10px;
  }

  .hiddenFilters {
    overflow: hidden;
    height: 0px;
    min-height: 0px;
    transition-property: min-height;
    transition-duration: .2s;
    padding: 0 1px;

    &.expanded {
      min-height: 470px;
    }
  }
  
  .showMore {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .searchButton {
    margin-top: 20px !important;
  }
}