.propertyList {
  display: flex;
  flex-wrap: wrap;

  .propertyCard {
    position: relative;

    &:hover .bookButton {
      display: block !important;
    }

    .bookButton {
      display: none !important;
      position: absolute !important;
      top: 9px;
      left: 12px;
    }
  }
}

.loadingSpinner {
  display: block !important;
  margin: 20px auto 0;
}