.profileImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin: 0 auto;

  .previewImageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .previewImage,
  .profileImage {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .uploadImageButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

    input[type="file"] {
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }

    .uploadImageIcon {
      display: none !important;
    }

    .uploadImageTooltip {
      position: absolute;
      right: 40px;
      top: -10px;
      background-color: #f50057;
      transform: translate(100%, -100%);
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      color: #fff;
      font-size: 12px;
      transition-duration: .2s;
  
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 8px;
        transform: translateY(100%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #f50057;
      }
    }

    &:hover {
      background-color: #f2f2f2 !important;
      border: 2px dashed #f50057;

      .uploadImageTooltip {
        opacity: 0;
      }

      .uploadImageIcon {
        display: initial !important;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  max-width: 400px;

  .fieldWrapper {

    &:not(:first-child) {
      margin-top: 10px;
    }

    .errorLabel {
      display: none !important;
      color: red !important;
      margin-top: 5px;

      &.image {
        text-align: center;
        margin-top: 15px;
      }
    }

    &.hasError {
      .field {
        border: 1px solid red;
        background-color: rgba(red, .05);
      }

      .errorLabel {
        display: block !important;
      }
    }
  }

  .button {
    margin: 40px auto 0 !important;
    width: 100%;
  }

  .deleteButton {
    margin-top: 10px !important;
  }
}

.signInSuggestion {
  margin-top: 10px !important;
}

.signInLink {
  margin-left: 10px;
  text-decoration: underline;
}

.point {
  display: inline-block;
  margin-right: 10px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.section {
  padding: 40px;
  border-radius: 2px;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  position: relative;
  margin-top: 20px;

  .header {
    display: flex;

    .icon {
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .content {
    padding: 0;
  }
}