.propertyCard {
  display: flex;
  margin: 20px 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
}

.propertyCard:hover .editButton {
  display: block !important;
}

.editButton {
  display: none !important;
  position: absolute !important;
  top: 10px;
  left: 10px;
  width: 44px !important;
  height: 44px !important;
}

.propertyLink:hover {
  color: #000 !important;
  text-decoration: underline;
}

.propertyImg {
  width: 25%;
  flex-shrink: 0;
}

.propertyImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.propertyDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  border-left: 1px dashed rgba(0,0,0, .4);
}

.propertyCtrls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-left: 1px dashed rgba(0,0,0, .4);
}

.propertyStatus {
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  padding: 2px 8px;
  font-size: 12px;
  vertical-align: middle;
}

.propertyStatusActive {
  background-color: green;
}

.propertyStatusInactive {
  background-color: grey;
}

.propertyStatusModeration {
  background-color: blue;
}

.propertyFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -5px;
}

.propertyFeature {
  margin: 5px !important;
}

.publishDate {
  display: flex !important;
  align-items: center;
}

.propertyIconizedFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: -10px;
}

.propertyIconizedFeature {
  display: flex;
  margin: 5px !important;
}

.publishDate {
  margin-left: 5px !important;
}