.form {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  max-width: 400px;

  .fieldWrapper {

    &:not(:first-child) {
      margin-top: 10px;
    }

    .errorLabel {
      display: none !important;
      color: red !important;
      margin-top: 5px;
    }

    &.hasError {
      .field {
        border: 1px solid red;
        background-color: rgba(red, .05);
      }

      .errorLabel {
        display: block !important;
      }
    }
  }

  .button {
    margin: 40px auto 0 !important;
    width: 100%;
  }
}

.signInSuggestion {
  margin-top: 10px !important;
}

.signInLink {
  margin-left: 10px;
  text-decoration: underline;
}