.propertyCard {
  width: 300px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  .propertyCardImage {
    padding-top: 56.25%;
  }

  .propertyCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px !important;

    .contentHeadline {
      flex-grow: 1;
    
      h2 a:hover {
        text-decoration: underline;
      }
    }

    .propertyFeatures {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-left: -5px;

      .propertyFeature {
        margin: 5px !important;
      }
    }
    
    .propertyIconizedFeatures {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: auto;
      margin-left: -10px;
    
      .propertyIconizedFeature {
        display: flex;
        margin: 5px !important;
      }
    }
    
    .publishDate {
      margin-left: 5px !important;
    }
  }
}