:global {
  @import '~normalize.css';
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

a {
  color: inherit;
}