.bookingDate {
  margin-left: auto !important;
}

.booking {
  flex-direction: column;
  
  .bookingContent {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .bookingDetails,
  .propertyDetails {
    flex: 1 0 auto;
  }
  
  .propertyDetails {
    text-align: right;
  }
  
  .propertyDetails img {
    width: 120px;
  }
  
  .propertyLink {
    text-decoration: underline;
  }
  
  .propertyLink:hover {
    color: black;
  }

  .messangerWrapper {
    margin-top: 50px;
  }
}

.loadingSpinner {
  display: block !important;
  margin: 20px auto 0;
}